.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #e7e3e3;
  }
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f0f2f5;
  }
  
  .updatedOn {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 30px;
  }
  
  .subHeading {
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #edeff1;
  }
  
  .content {
    font-size: 1.1rem;
  }
  
  .content p {
    margin-bottom: 20px;
  }
  
  .content a {
    color: #3498db;
    text-decoration: none;
  }
  
  .content a:hover {
    text-decoration: underline;
  }
  /* Algorithmpage.module.css */
.section {
  margin: 2rem 0;
  padding: 1.5rem;
  background: transparent;
  border-radius: 8px;
}

.subheading {
  color: #f2f4f7;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.technicalDetails {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.detailItem {
  background: rgb(26, 24, 24);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left;
}

.resources {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.link {
  color: #3182ce;
  text-decoration: underline;
}
.list
{
  text-align: left;
}